@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: Montserrat,serif;
}
/*Inpout fileds styles*/
.input {
    width: 400px;
    background-color: #DCD6D6;
}
/*Buttons styles*/
.p-button-label{
    font-weight: bold;

}
.p-button {
    background-color: #6583A7;
}
.p-button:enabled:hover {
    background-color: #0A2341;
}
.p-button:focus {
    box-shadow: 0 0 0 0.2rem #566F8C;
}
/*Logo styles*/
.logo {
    width: 201px;
    height: 95px;
}
/*Tables styles*/
.p-datatable-wrapper {
    border-radius: 10px;
}
.p-paginator {
    border-radius: 10px;
}

.p-tooltip {
    max-width: 500px;
}